.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  flex: 1;
  overflow: auto;
}

.sidenav {
  width: 240px;
  box-shadow: none;
  background-color: var(--color-sidebar-bg) !important;
  border-right: none !important;
}

.content {
  background-color: var(--color-surface);
  padding: 24px;
  min-height: calc(100vh - 64px);

  @media (min-width: 768px) {
    padding: 32px;
  }
}
